// Global styling for this template
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: $gray-700;
  background: $gray-700;
  @include sans-serif-font-2;
  -webkit-tap-highlight-color: $primary;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  font-size: 14px;
  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-weight: 800;*/
  font-weight: 400;
  @include sans-serif-font;
}

a {
  color: $gray-700;
  @include transition-all;
  &:focus,
  &:hover {
    color: $dark;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  @media only screen and (min-width: 768px) {
    font-size: 14px;
  }
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: unset;
}
