<nav id="menu">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="index.html"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="category.html"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about.html"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="result.html"> <i class="fa fa-search fa-fw" aria-hidden="true"></i> Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/prianto/artika-html" target="_blank"> <i class="fa fa-cloud-download" aria-hidden="true"></i> Download</a>
    </li>
  </ul>
</nav>
